.project
*.prefs
/target/
biofoco.log
/bin/
.classpath
/branches/zoonimbus/target/
/branches/zoonimbus/biofoco.log
/branches/zoonimbus/conf/node.yaml
/branches/zoonimbus/conf/node.yaml
/data-folder/**
/uploaded-files/**
/references/**
*.ebwt
*.sam
*.bed
*.out
/conf/node.yaml
/src/main/resources/META-INF/persistence.xml
/src/main/resources/META-INF/**
/src/main/resources/META-INF/
/references/**
