<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>resteasy.scan</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <context-param>
        <param-name>resteasy.providers</param-name>
        <param-value>br.unb.cic.bionimbuz.rest.security.SecurityInterceptor</param-value>
    </context-param>

    <!--    <context-param>
        <param-name>resteasy.resources</param-name>
        <param-value>br.unb.cic.bionimbus.rest.resource</param-value>
    </context-param>-->

    <context-param>
        <param-name>javax.ws.rs.core.Application</param-name>
        <param-value>br.unb.cic.bionimbuz.rest.application.RestApplication</param-value>
    </context-param>

    <!-- set this if you map the Resteasy servlet to something other than /*
    <context-param>
       <param-name>resteasy.servlet.mapping.prefix</param-name>
       <param-value>/resteasy</param-value>
    </context-param>
    -->

    <listener>
        <listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap</listener-class>
    </listener>

    <servlet>
        <servlet-name>Resteasy</servlet-name>
        <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Resteasy</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
